.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5rem;
}

img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
    color: black;
}